.main_container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}
.forgot_pic{
    background-image: url("../images/registration_image.png");
    background-size: cover;
    background-position: center;
    width: 50%;
    height: 90vh;
}
.email_form{
    display: flex;
    flex-direction: column;
    /* width: 500px; */
}
.forgot_text{
  width: 400px;
}
.forgot_icon{
    /* padding: 5px; */
    font-size: 150px;
   text-align: center;
}
.forgot_input_field{
    width: 300px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    background-color: #f5f5f5;
    padding-left: 40px;
    position: relative;
}
.reset_button{
  width: 300px;
  padding: 10px;
  background-color: #3498db;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}
.reset_button:hover {
    background-color: #2980b9;
  }
  .forgot_input_icon {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 18px;
    color: black;
  }
  .forgot_email_field{
    background-color: #f5f5f5;
  border: none;
  outline: none;
  width: 250px;
  }
  @media screen and (max-width: 600px) {
    .main_container {
      flex-direction: column;
    }
    .forgot_pic {
      width: 100%;
      height: 70vh;
    }
    .email_form {
        align-items: center;
      margin-bottom: 30px;
    }
    .forgot_text{
       text-align: center;
    }
  }